<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace="매퍼 인터페이스 경로" --> 
<mapper namespace="com.aloha.ex6.mapper.BoardMapper">

    <select id="list" resultType="Board">
        SELECT *
        FROM ex6
        ORDER BY reg_date DESC
    </select>

    <select id="select" resultType="Board">
        SELECT *
        FROM ex6
        WHERE no = #{no}
    </select>

    <insert id="insert">
        INSERT INTO ex6 (title, writer, content)
        VALUES(#{title}, #{writer}, #{content})
    </insert>

    <update id="update">
        UPDATE ex6
        SET title = #{title},
            writer = #{writer},
            content = #{content}
        WHERE no = #{no}
    </update>

    <delete id="delete">
        DELETE FROM ex6
        WHERE no = #{no}
    </delete>
</mapper>